body {
    background: #0b3747 
url('lin.jpg') no-repeat center center/cover;
  color: rgba(255,255,255,0.87);
  font-family: "PT Sans Narrow", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;}

    

}

.login-container {
    width: 300px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

    
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

#loginForm button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#loginForm button:hover {
    background-color: #0056b3;
}